.container {
	margin: 0;
	padding: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 100%;
	background-color: lightskyblue;
	color: #fff;
	font-family: "Schoolbell", arial, serif;
}

.jar-container {
	cursor: pointer;
	background: none;
	border: none;
}

.jar {
	width: 600px;
	transition: transform 0.5s ease-in-out;
}

.jar:hover {
	transform: scale(1.1);
}

.hidden {
	display: none;
}
