.quote-container {
	text-align: center;
	padding: 20px;
	border-radius: 10px;
	background-image: url("../res/blue.jpg");
	background-size: cover;
	max-width: 75svw;
	max-height: 90svh;
	overflow-y: auto;
}

.quote {
	font-size: 24px;
	margin: 10px;
}
